
.topnav{
    background-color: #252525;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: top 0.3s;
}
.topnav a{
    float: left;
    display: block;
    color: #FAF9F6;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.split{
    float: right;
    background-color: #343231;
    color: white;
}
.topnav a:hover{
    background-color: #535353;
    color: #FAF9F6;
}
.topnav a.active{
    background-color: #343231;
    color: #6df7d9;
}
.topnav .icon{
    display: none;
}
@media screen and (max-width: 600px){
  .topnav a:not(:first-child){display: none;}
  .topnav a.icon{
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px){
  .topnav.responsive{position: relative;}
  .topnav.responsive a.icon{
    position: absolute;
    right: 0;
  }
  .topnav.responsive a{
    float: none;
    top: 0;
    display: block;
    text-align: left;
  }
}

.searchBar{
  position: absolute;
  right: 0;
}
.search-icon{
  position: absolute;
  right: 10px;
  height: 20px;
  width: 20px;
  top: 12px;
}
input[type=text]{
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #444444;
  border-radius: 4px;
  outline: 0px solid transparent;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 14px 40px 6px 10px;
  transition-property: margin-right width;
  transition: 0.8s ease-in-out;
}
input[type=text]:focus{
  width: 100%;
}
@media screen and (max-width: 600px){
  .searchBar.responsive{position: relative};
  .searchBar.responsive{
    position: absolute;
    right: 55px;
  }
}

#Sidenav a{
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  color: #2c2c2c;
  font-size: 20px;
  z-index: 1;
}
#Sidenav a:hover{
  left: 0px;
  color: #f1f1f1;
  background-color: #5e5e5e;
}
/*home page tabs*/
#overall{
  top: 40px;
  background-color: #2c2c2c;
}
#hi{
  top: 80px;
  background-color: #2c2c2c;
}
/*projects page tabs*/
#geosinia{
  top: 40px;
  background-color: #2c2c2c;
}
#github{
  top: 80px;
  background-color: #2c2c2c;
}
#mods{
  top: 120px;
  background-color: #2c2c2c;
}



@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main{
  transition: margin-left .5s;
  padding: 20px;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: sticky;
  bottom: 0;
}
.progress-bar {
  height: 8px;
  background: #04AA6D;
background: linear-gradient(90deg, #04aa6d 0%, #48f5b6 50%, #6df7d9 100%);
  width: 0%;
}