*{
  margin: 0;
  padding: 0;
}
/*-------------
  base layout
-------------*/
body{
  min-height: 100vh;
  overflow-x: hidden;
}
header{
  top: 0;
  height: var(--header-height);
  z-index: 99;
}
main{
  padding: 1em;
}
aside{
  top: calc(100vh - 1.5em);
  position: sticky;
}

.grid-base{
  display: grid;
}

/*---------------
  header layout
---------------*/
#header{
  overflow: hidden;
  background-color: #202020;
  transition: 0.4s;
  position: fixed;
  width: 100%;
}
#header a{
  float: left;
  text-decoration: none;
}
#header #logo{
  font-size: 35px;
  transition: 0.4s;
}
#header-right{
  float: right;
}



/*-------------
  side layout
-------------*/

/*---------
    main
---------*/


.section{
  position: absolute;
  bottom: 8px;
  height: calc(100vh - calc(var(--header-height) + 8px));
  width: 100vw;
}
.section-bg{
  width: 100vw;
  max-height: 300px;
}

.progress-container {
  width: 100vh;
  height: 8px;
  background: #ccc;
  position: sticky;
  bottom: 0;
}
.progress-bar {
  height: 8px;
  background: linear-gradient(90deg, #04aa6d 0%, #48f5b6 50%, #6df7d9 100%);
  width: 0%;
}