*{
  margin: 0;
  padding: 0;
}

/*-------------
  base layout
-------------*/

body{
  min-height: 100vh;
  overflow-x: hidden;
}
header{
  top: 0;
  height: var(--header-height);
  z-index: 99;
  grid-area: header;
}
main{
  padding: 1em;
  grid-area: main;
}
aside{
  top: calc(100vh - 1.5em);
  position: sticky;
}

.grid-base{
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-rows: var(--header-height) 1fr;
  padding: 0;
  grid-template-areas: 
  "header"
  "main";
}

/*---------------
  header layout
---------------*/

#header{
  overflow: hidden;
  background-color: #202020;
  transition: 0.4s;
  position: fixed;
  width: 100%;
}
#header a{
  float: left;
  text-decoration: none;
}
#header #logo{
  font-size: 35px;
  transition: 0.4s;
}
#header-right{
  float: right;
}

/*-------------
  side layout
-------------*/



/*---------
    main
---------*/

.section-container{
  display: grid;
  min-width: 100vw;
  grid-auto-rows: auto;
  gap: 4em 0;
}
.section{
  display: grid;
}
.section-bg{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  z-index: -1;
  width: 100vw;
  max-height: 20em;
}
.section-title{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  font-family: monospace;
  white-space: pre;
  text-decoration: none;
  color: var(--text-color1);
}
.section-intro{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 0em 1em 0.5em 1em;
}

.progress-container {
  width: 100vh;
  height: 8px;
  background: #ccc;
  position: sticky;
  bottom: 0;
}
.progress-bar {
  height: 8px;
  background: linear-gradient(90deg, #04aa6d 0%, #48f5b6 50%, #6df7d9 100%);
  width: 0%;
}