*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*-------------
  base layout
-------------*/
.base-layout{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 6em 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header header"
  "aside main"
  "footer footer";
}
header{
  top: 0;
  position: sticky;
  height: var(--header-height);
  grid-area: header; }

aside{
  height: calc(var(--header-height) + var(--footer-height));
  top: var(--header-height);
  position: sticky;
  align-self: start;
  grid-area: aside;
}
main{
  grid-area: main;
}
footer{
  height: var(--footer-height);
  grid-area: footer;
}

/*---------------
  header layout
---------------*/

/*-------------
  side layout
-------------*/
.side-grid-container{
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}
/*---------
    main
---------*/
.opener{
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 0;
  color: #ffffff;
}

.ascii-title{
  position: absolute;
  bottom: 0px;
  left: 6px;
  font-family: monospace;
  white-space: pre;
}

#geosinia-title{
  padding-bottom: 0;
}
#mods-title{
  padding-bottom: 0;
}

#title-bg{
  width: 100%;
  max-height: 300px;
}

.progress-container {
  width: 100vh;
  height: 8px;
  background: #ccc;
  position: sticky;
  bottom: 0;
  z-index: 5;
}
.progress-bar {
  height: 8px;
  background: linear-gradient(90deg, #04aa6d 0%, #48f5b6 50%, #6df7d9 100%);
  width: 0%;
  z-index: 6;
}